.logoNav img{
    height: 40px;
}

.nabvar{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color:  #002B5B;
    
    z-index: 4;
    margin-bottom: 20px;
}
.nav-link{
    color:beige;
}